In [2]:
import pandas as pd
from supabase import create_client

# conexi贸n a la base de datos operacional
url_operacional = 'https://ggvtnhsokxrroymxgres.supabase.co'
key_operacional = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdndnRuaHNva3hycm95bXhncmVzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0ODYzNTgwNCwiZXhwIjoyMDY0MjExODA0fQ.iRMSBrcUSlA-IpiofR6xc4W6_Dq-smhhMs6sBKHk_dA'
supabase_op = create_client(url_operacional, key_operacional)

# conexi贸n al datawarehouse
url_dw = 'https://hcwyzlprqjlwqwdrfrco.supabase.co'
key_dw = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhjd3l6bHBycWpsd3F3ZHJmcmNvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTA3NjkzOSwiZXhwIjoyMDY0NjUyOTM5fQ.kslrFLfk4e6HRIPs60qjwna4XWiXIPiJSv7988QjLIo'
supabase_dw = create_client(url_dw, key_dw)

In [ ]:
cancelations = supabase_op.table('cancelation').select('*').execute()
plans= supabase_op.table('plan').select('id, plan_name').execute()
subscriptions = supabase_op.table('subscription').select('user_id, plan_id, date').execute()

In [57]:
cancel_df = pd.DataFrame(cancelations.data)
plans_df = pd.DataFrame(plans.data)
subs_df = pd.DataFrame(subscriptions.data)

In [58]:
subs_df.head()

   user_id  plan_id        date
0       94        2  2024-07-01
1      128        1  2024-09-07
2      207        3  2025-01-26
3       46        1  2024-12-26
4      116        3  2024-11-29

In [59]:
subs_df = subs_df.merge(plans_df, left_on='plan_id', right_on='id')
subs_df.head()

   user_id  plan_id        date  id plan_name
0       94        2  2024-07-01   2  Standard
1      128        1  2024-09-07   1     Basic
2      207        3  2025-01-26   3   Premium
3       46        1  2024-12-26   1     Basic
4      116        3  2024-11-29   3   Premium

In [60]:
subs_df[subs_df['user_id']==1].head()

     user_id  plan_id        date  id plan_name
14         1        1  2024-12-24   1     Basic
390        1        3  2025-02-13   3   Premium

In [61]:

# Filtrar ultima suscripci贸n de cada usuario
subs_df = subs_df.sort_values(by=['user_id', 'date'], ascending=False)
subs_df = subs_df.drop_duplicates(subset=['user_id'], keep='first')
subs_df.head()

     user_id  plan_id        date  id plan_name
190      610        3  2025-05-10   3   Premium
379      609        1  2024-07-23   1     Basic
39       605        2  2024-11-06   2  Standard
53       604        2  2025-04-13   2  Standard
217      603        2  2024-12-16   2  Standard

In [62]:
subs_df[subs_df['user_id']==1].head()

     user_id  plan_id        date  id plan_name
390        1        3  2025-02-13   3   Premium

In [63]:
cancel_df = cancel_df.merge(subs_df, on='user_id', how='left', suffixes=('', '_sub'))
cancel_df.head()

   user_id        date  id  plan_id    date_sub  id_sub plan_name
0      469  2025-06-03   1      3.0  2024-10-22     3.0   Premium
1      133  2025-06-03   2      2.0  2025-02-17     2.0  Standard
2      585  2025-06-03   3      NaN         NaN     NaN       NaN
3      195  2025-06-03   4      2.0  2024-11-30     2.0  Standard
4      119  2025-06-03   5      NaN         NaN     NaN       NaN

ahora hay nans, falta actualizar simulaci贸n de datos

In [65]:
cancel_df.drop(columns=['plan_id', 'date_sub', 'id_sub'], inplace=True)
cancel_df.head()

   user_id        date  id plan_name
0      469  2025-06-03   1   Premium
1      133  2025-06-03   2  Standard
2      585  2025-06-03   3       NaN
3      195  2025-06-03   4  Standard
4      119  2025-06-03   5       NaN

In [66]:
cancel_df.to_dict(orient='records')

[{'user_id': 469, 'date': '2025-06-03', 'id': 1, 'plan_name': 'Premium'},
 {'user_id': 133, 'date': '2025-06-03', 'id': 2, 'plan_name': 'Standard'},
 {'user_id': 585, 'date': '2025-06-03', 'id': 3, 'plan_name': nan},
 {'user_id': 195, 'date': '2025-06-03', 'id': 4, 'plan_name': 'Standard'},
 {'user_id': 119, 'date': '2025-06-03', 'id': 5, 'plan_name': nan},
 {'user_id': 376, 'date': '2025-06-03', 'id': 6, 'plan_name': 'Standard'},
 {'user_id': 444, 'date': '2025-06-03', 'id': 7, 'plan_name': 'Premium'},
 {'user_id': 235, 'date': '2025-06-03', 'id': 8, 'plan_name': nan},
 {'user_id': 536, 'date': '2025-06-03', 'id': 9, 'plan_name': 'Premium'},
 {'user_id': 478, 'date': '2025-06-03', 'id': 10, 'plan_name': 'Standard'},
 {'user_id': 161, 'date': '2025-06-03', 'id': 11, 'plan_name': 'Premium'},
 {'user_id': 59, 'date': '2025-06-03', 'id': 12, 'plan_name': nan},
 {'user_id': 508, 'date': '2025-06-03', 'id': 13, 'plan_name': nan},
 {'user_id': 293, 'date': '2025-06-03', 'id': 14, 'plan_name': 'Basic'},
 {'user_id': 207, 'date': '2025-06-03', 'id': 15, 'plan_name': 'Premium'},
 {'user_id': 357, 'date': '2025-06-03', 'id': 16, 'plan_name': nan},
 {'user_id': 222, 'date': '2025-06-03', 'id': 17, 'plan_name': nan},
 {'user_id': 493, 'date': '2025-06-03', 'id': 18, 'plan_name': nan},
 {'user_id': 443, 'date': '2025-06-03', 'id': 19, 'plan_name': nan},
 {'user_id': 268, 'date': '2025-06-03', 'id': 20, 'plan_name': nan},
 {'user_id': 94, 'date': '2025-06-03', 'id': 21, 'plan_name': 'Basic'},
 {'user_id': 144, 'date': '2025-06-03', 'id': 22, 'plan_name': 'Premium'},
 {'user_id': 566, 'date': '2025-06-03', 'id': 23, 'plan_name': 'Basic'},
 {'user_id': 262, 'date': '2025-06-03', 'id': 24, 'plan_name': 'Basic'},
 {'user_id': 348, 'date': '2025-06-03', 'id': 25, 'plan_name': 'Basic'},
 {'user_id': 497, 'date': '2025-06-03', 'id': 26, 'plan_name': nan},
 {'user_id': 125, 'date': '2025-06-03', 'id': 27, 'plan_name': nan},
 {'user_id': 5, 'date': '2025-06-03', 'id': 28, 'plan_name': 'Standard'},
 {'user_id': 555, 'date': '2025-06-03', 'id': 29, 'plan_name': 'Premium'},
 {'user_id': 333, 'date': '2025-06-03', 'id': 30, 'plan_name': 'Premium'},
 {'user_id': 389, 'date': '2025-06-03', 'id': 31, 'plan_name': 'Standard'},
 {'user_id': 341, 'date': '2025-06-03', 'id': 32, 'plan_name': 'Basic'},
 {'user_id': 257, 'date': '2025-06-03', 'id': 33, 'plan_name': nan},
 {'user_id': 589, 'date': '2025-06-03', 'id': 34, 'plan_name': 'Basic'},
 {'user_id': 457, 'date': '2025-06-03', 'id': 35, 'plan_name': nan},
 {'user_id': 240, 'date': '2025-06-03', 'id': 36, 'plan_name': 'Standard'},
 {'user_id': 278, 'date': '2025-06-03', 'id': 37, 'plan_name': 'Premium'},
 {'user_id': 602, 'date': '2025-06-03', 'id': 38, 'plan_name': 'Premium'},
 {'user_id': 401, 'date': '2025-06-03', 'id': 39, 'plan_name': 'Standard'},
 {'user_id': 362, 'date': '2025-06-03', 'id': 40, 'plan_name': nan},
 {'user_id': 82, 'date': '2025-06-03', 'id': 41, 'plan_name': 'Standard'},
 {'user_id': 267, 'date': '2025-06-03', 'id': 42, 'plan_name': nan},
 {'user_id': 96, 'date': '2025-06-03', 'id': 43, 'plan_name': nan},
 {'user_id': 563, 'date': '2025-06-03', 'id': 44, 'plan_name': nan},
 {'user_id': 593, 'date': '2025-06-03', 'id': 45, 'plan_name': 'Premium'},
 {'user_id': 168, 'date': '2025-06-03', 'id': 46, 'plan_name': 'Basic'},
 {'user_id': 384, 'date': '2025-06-03', 'id': 47, 'plan_name': 'Standard'},
 {'user_id': 568, 'date': '2025-06-03', 'id': 48, 'plan_name': 'Basic'},
 {'user_id': 242, 'date': '2025-06-03', 'id': 49, 'plan_name': 'Basic'},
 {'user_id': 204, 'date': '2025-06-03', 'id': 50, 'plan_name': 'Basic'},
 {'user_id': 367, 'date': '2025-06-03', 'id': 51, 'plan_name': 'Premium'},
 {'user_id': 330, 'date': '2025-06-03', 'id': 52, 'plan_name': 'Basic'},
 {'user_id': 284, 'date': '2025-06-03', 'id': 53, 'plan_name': 'Standard'},
 {'user_id': 239, 'date': '2025-06-03', 'id': 54, 'plan_name': 'Premium'},
 {'user_id': 89, 'date': '2025-06-03', 'id': 55, 'plan_name': 'Standard'},
 {'user_id': 345, 'date': '2025-06-03', 'id': 57, 'plan_name': nan},
 {'user_id': 377, 'date': '2025-06-03', 'id': 58, 'plan_name': 'Premium'},
 {'user_id': 472, 'date': '2025-06-03', 'id': 59, 'plan_name': 'Basic'},
 {'user_id': 196, 'date': '2025-06-03', 'id': 60, 'plan_name': 'Premium'},
 {'user_id': 219, 'date': '2025-06-03', 'id': 61, 'plan_name': 'Premium'},
 {'user_id': 116, 'date': '2025-06-03', 'id': 62, 'plan_name': 'Premium'},
 {'user_id': 310, 'date': '2025-06-03', 'id': 63, 'plan_name': nan},
 {'user_id': 11, 'date': '2025-06-03', 'id': 64, 'plan_name': nan},
 {'user_id': 513, 'date': '2025-06-03', 'id': 65, 'plan_name': 'Premium'},
 {'user_id': 163, 'date': '2025-06-03', 'id': 66, 'plan_name': nan},
 {'user_id': 352, 'date': '2025-06-03', 'id': 67, 'plan_name': nan},
 {'user_id': 45, 'date': '2025-06-03', 'id': 68, 'plan_name': 'Standard'},
 {'user_id': 215, 'date': '2025-06-03', 'id': 69, 'plan_name': 'Premium'},
 {'user_id': 13, 'date': '2025-06-03', 'id': 70, 'plan_name': 'Standard'},
 {'user_id': 492, 'date': '2025-06-03', 'id': 71, 'plan_name': 'Premium'},
 {'user_id': 107, 'date': '2025-06-03', 'id': 72, 'plan_name': nan},
 {'user_id': 331, 'date': '2025-06-03', 'id': 73, 'plan_name': 'Standard'},
 {'user_id': 416, 'date': '2025-06-03', 'id': 74, 'plan_name': nan},
 {'user_id': 436, 'date': '2025-06-03', 'id': 75, 'plan_name': 'Premium'},
 {'user_id': 373, 'date': '2025-06-03', 'id': 76, 'plan_name': 'Standard'},
 {'user_id': 337, 'date': '2025-06-03', 'id': 77, 'plan_name': 'Standard'},
 {'user_id': 6, 'date': '2025-06-03', 'id': 78, 'plan_name': nan},
 {'user_id': 130, 'date': '2025-06-03', 'id': 79, 'plan_name': 'Standard'},
 {'user_id': 360, 'date': '2025-06-03', 'id': 80, 'plan_name': 'Premium'},
 {'user_id': 490, 'date': '2025-06-03', 'id': 81, 'plan_name': 'Standard'},
 {'user_id': 127, 'date': '2025-06-03', 'id': 82, 'plan_name': 'Premium'},
 {'user_id': 194, 'date': '2025-06-03', 'id': 83, 'plan_name': nan},
 {'user_id': 12, 'date': '2025-06-03', 'id': 84, 'plan_name': 'Standard'},
 {'user_id': 491, 'date': '2025-06-03', 'id': 85, 'plan_name': 'Basic'},
 {'user_id': 113, 'date': '2025-06-03', 'id': 86, 'plan_name': 'Premium'},
 {'user_id': 582, 'date': '2025-06-03', 'id': 87, 'plan_name': 'Premium'},
 {'user_id': 140, 'date': '2025-06-03', 'id': 88, 'plan_name': nan},
 {'user_id': 63, 'date': '2025-06-03', 'id': 89, 'plan_name': 'Standard'},
 {'user_id': 103, 'date': '2025-06-03', 'id': 90, 'plan_name': nan},
 {'user_id': 391, 'date': '2025-06-03', 'id': 91, 'plan_name': nan},
 {'user_id': 554, 'date': '2025-06-03', 'id': 92, 'plan_name': 'Standard'},
 {'user_id': 510, 'date': '2025-06-03', 'id': 93, 'plan_name': nan},
 {'user_id': 126, 'date': '2025-06-03', 'id': 94, 'plan_name': 'Standard'},
 {'user_id': 281, 'date': '2025-06-03', 'id': 95, 'plan_name': nan},
 {'user_id': 570, 'date': '2025-06-03', 'id': 96, 'plan_name': 'Standard'},
 {'user_id': 379, 'date': '2025-06-03', 'id': 97, 'plan_name': 'Basic'},
 {'user_id': 191, 'date': '2025-06-03', 'id': 98, 'plan_name': nan},
 {'user_id': 139, 'date': '2025-06-03', 'id': 99, 'plan_name': nan},
 {'user_id': 350, 'date': '2025-06-03', 'id': 100, 'plan_name': 'Standard'},
 {'user_id': 402, 'date': '2025-06-03', 'id': 101, 'plan_name': 'Basic'},
 {'user_id': 324, 'date': '2025-06-03', 'id': 102, 'plan_name': 'Premium'},
 {'user_id': 297, 'date': '2025-06-03', 'id': 103, 'plan_name': 'Premium'},
 {'user_id': 233, 'date': '2025-06-03', 'id': 104, 'plan_name': 'Standard'},
 {'user_id': 542, 'date': '2025-06-03', 'id': 105, 'plan_name': 'Basic'},
 {'user_id': 106, 'date': '2025-06-03', 'id': 106, 'plan_name': 'Premium'},
 {'user_id': 473, 'date': '2025-06-03', 'id': 107, 'plan_name': 'Basic'},
 {'user_id': 424, 'date': '2025-06-03', 'id': 108, 'plan_name': nan},
 {'user_id': 110, 'date': '2025-06-03', 'id': 109, 'plan_name': 'Premium'},
 {'user_id': 61, 'date': '2025-06-03', 'id': 110, 'plan_name': 'Standard'},
 {'user_id': 556, 'date': '2025-06-03', 'id': 111, 'plan_name': nan},
 {'user_id': 169, 'date': '2025-06-03', 'id': 112, 'plan_name': 'Basic'},
 {'user_id': 559, 'date': '2025-06-03', 'id': 113, 'plan_name': nan},
 {'user_id': 272, 'date': '2025-06-03', 'id': 114, 'plan_name': 'Basic'},
 {'user_id': 605, 'date': '2025-06-03', 'id': 115, 'plan_name': 'Standard'},
 {'user_id': 580, 'date': '2025-06-03', 'id': 116, 'plan_name': nan},
 {'user_id': 403, 'date': '2025-06-03', 'id': 117, 'plan_name': nan},
 {'user_id': 393, 'date': '2025-06-03', 'id': 118, 'plan_name': 'Standard'},
 {'user_id': 550, 'date': '2025-06-03', 'id': 119, 'plan_name': nan},
 {'user_id': 200, 'date': '2025-06-03', 'id': 120, 'plan_name': nan},
 {'user_id': 381, 'date': '2025-06-03', 'id': 121, 'plan_name': nan},
 {'user_id': 80, 'date': '2025-06-03', 'id': 122, 'plan_name': 'Basic'},
 {'user_id': 7, 'date': '2025-06-03', 'id': 123, 'plan_name': 'Premium'},
 {'user_id': 141, 'date': '2025-06-03', 'id': 124, 'plan_name': nan},
 {'user_id': 97, 'date': '2025-06-03', 'id': 125, 'plan_name': 'Premium'},
 {'user_id': 429, 'date': '2025-06-03', 'id': 126, 'plan_name': 'Standard'},
 {'user_id': 385, 'date': '2025-06-03', 'id': 127, 'plan_name': nan},
 {'user_id': 598, 'date': '2025-06-03', 'id': 128, 'plan_name': 'Basic'},
 {'user_id': 58, 'date': '2025-06-03', 'id': 129, 'plan_name': 'Standard'},
 {'user_id': 442, 'date': '2025-06-03', 'id': 130, 'plan_name': nan},
 {'user_id': 212, 'date': '2025-06-03', 'id': 131, 'plan_name': nan},
 {'user_id': 375, 'date': '2025-06-03', 'id': 132, 'plan_name': 'Basic'},
 {'user_id': 498, 'date': '2025-06-03', 'id': 133, 'plan_name': 'Premium'},
 {'user_id': 238, 'date': '2025-06-03', 'id': 134, 'plan_name': 'Basic'},
 {'user_id': 501, 'date': '2025-06-03', 'id': 135, 'plan_name': nan},
 {'user_id': 18, 'date': '2025-06-03', 'id': 136, 'plan_name': nan},
 {'user_id': 511, 'date': '2025-06-03', 'id': 137, 'plan_name': nan},
 {'user_id': 512, 'date': '2025-06-03', 'id': 138, 'plan_name': 'Basic'},
 {'user_id': 153, 'date': '2025-06-03', 'id': 139, 'plan_name': 'Basic'},
 {'user_id': 1, 'date': '2025-06-03', 'id': 140, 'plan_name': 'Premium'},
 {'user_id': 525, 'date': '2025-06-03', 'id': 141, 'plan_name': 'Basic'},
 {'user_id': 431, 'date': '2025-06-03', 'id': 142, 'plan_name': nan},
 {'user_id': 189, 'date': '2025-06-03', 'id': 143, 'plan_name': 'Premium'},
 {'user_id': 468, 'date': '2025-06-03', 'id': 144, 'plan_name': nan},
 {'user_id': 182, 'date': '2025-06-03', 'id': 145, 'plan_name': 'Basic'},
 {'user_id': 175, 'date': '2025-06-03', 'id': 146, 'plan_name': nan},
 {'user_id': 167, 'date': '2025-06-03', 'id': 147, 'plan_name': nan},
 {'user_id': 217, 'date': '2025-06-03', 'id': 148, 'plan_name': 'Standard'},
 {'user_id': 288, 'date': '2025-06-03', 'id': 149, 'plan_name': 'Standard'},
 {'user_id': 488, 'date': '2025-06-03', 'id': 150, 'plan_name': 'Basic'},
 {'user_id': 86, 'date': '2025-06-03', 'id': 151, 'plan_name': 'Premium'},
 {'user_id': 66, 'date': '2025-06-03', 'id': 152, 'plan_name': 'Standard'},
 {'user_id': 462, 'date': '2025-06-03', 'id': 153, 'plan_name': 'Premium'},
 {'user_id': 557, 'date': '2025-06-03', 'id': 154, 'plan_name': nan},
 {'user_id': 173, 'date': '2025-06-03', 'id': 155, 'plan_name': nan},
 {'user_id': 597, 'date': '2025-06-03', 'id': 156, 'plan_name': nan},
 {'user_id': 307, 'date': '2025-06-03', 'id': 157, 'plan_name': nan},
 {'user_id': 152, 'date': '2025-06-03', 'id': 158, 'plan_name': nan},
 {'user_id': 409, 'date': '2025-06-03', 'id': 159, 'plan_name': nan},
 {'user_id': 528, 'date': '2025-06-03', 'id': 160, 'plan_name': nan},
 {'user_id': 392, 'date': '2025-06-03', 'id': 162, 'plan_name': nan},
 {'user_id': 68, 'date': '2025-06-03', 'id': 163, 'plan_name': 'Basic'},
 {'user_id': 460, 'date': '2025-06-03', 'id': 164, 'plan_name': 'Basic'},
 {'user_id': 479, 'date': '2025-06-03', 'id': 165, 'plan_name': 'Basic'},
 {'user_id': 421, 'date': '2025-06-03', 'id': 166, 'plan_name': 'Premium'},
 {'user_id': 405, 'date': '2025-06-03', 'id': 167, 'plan_name': 'Premium'},
 {'user_id': 261, 'date': '2025-06-03', 'id': 168, 'plan_name': nan}]

In [ ]:
def pop_batch(df, batch_size):
    batch = df.iloc[:batch_size].copy()
    df.drop(index=df.index[:batch_size], inplace=True)
    return batch

while not cancel_df.empty:
    batch = pop_batch(cancel_df, 100)
    supabase_dw.table('fact_cancelations').insert(batch.to_dict(orient='records')).execute()