In [37]:
import pandas as pd
from supabase import create_client
from pymongo import MongoClient

# conexión a la base de datos operacional
url_operacional = 'https://ggvtnhsokxrroymxgres.supabase.co'
key_operacional = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdndnRuaHNva3hycm95bXhncmVzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0ODYzNTgwNCwiZXhwIjoyMDY0MjExODA0fQ.iRMSBrcUSlA-IpiofR6xc4W6_Dq-smhhMs6sBKHk_dA'
supabase_op = create_client(url_operacional, key_operacional)

# conexión a la base de datos de MongoDB
uri = 'mongodb+srv://naza:chauflix123@chauflix.g5rhogq.mongodb.net/'
client = MongoClient(uri)
mongo = client['chauflix']

# conexión al datawarehouse
url_dw = 'https://hcwyzlprqjlwqwdrfrco.supabase.co'
key_dw = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhjd3l6bHBycWpsd3F3ZHJmcmNvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTA3NjkzOSwiZXhwIjoyMDY0NjUyOTM5fQ.kslrFLfk4e6HRIPs60qjwna4XWiXIPiJSv7988QjLIo'
supabase_dw = create_client(url_dw, key_dw)

In [38]:
# --- Función para formatear ObjectId ---
import hashlib
def objectid_to_int(oid):
    """
    Convierte un ObjectId de MongoDB a un entero usando un hash SHA1.
    Retorna los primeros 8 caracteres hexadecimales del hash como entero.
    """
    # Asegúrate de que oid sea una cadena antes de codificar
    if not isinstance(oid, str):
        oid = str(oid)
    return int(hashlib.sha1(oid.encode()).hexdigest()[:8], 16)

In [39]:
#view_id, user_id, date, time, movie_id
collection_reproductions = mongo['views']
data_reproductions = list(collection_reproductions.find({}))
print(f"Se cargaron {len(data_reproductions)} documentos de la colección 'reproductions'.")

Se cargaron 500735 documentos de la colección 'reproductions'.

In [40]:
df_reproductions = pd.DataFrame(data_reproductions)
df_reproductions.head()

,_id,user_id,movie_id,watched_at,finished,minutes_watched
0,68435823244f0925baa016cd,1,1,2024-11-23 16:56:59,True,180
1,68435823244f0925baa016ce,1,3,2022-05-05 16:56:59,True,124
2,68435823244f0925baa016cf,1,6,2024-03-11 16:56:59,True,162
3,68435823244f0925baa016d0,1,44,2023-04-28 16:56:59,True,107
4,68435823244f0925baa016d1,1,47,2023-12-08 16:56:59,False,50

In [41]:
df_reproductions._id.unique()

array([ObjectId('68435823244f0925baa016cd'),
       ObjectId('68435823244f0925baa016ce'),
       ObjectId('68435823244f0925baa016cf'), ...,
       ObjectId('68435826244f0925baa7bac9'),
       ObjectId('68435826244f0925baa7baca'),
       ObjectId('68435826244f0925baa7bacb')],
      shape=(500735,), dtype=object)

In [42]:
# Crear copia para trabajar
df_fact_views_final = df_reproductions.copy()

# --- watched_at: asegurarse que sea datetime con tz UTC ---
if 'watched_at' in df_fact_views_final.columns:
    dt_col = pd.to_datetime(df_fact_views_final['watched_at'], errors='coerce')
    if dt_col.dt.tz is None:
        df_fact_views_final['watched_at'] = dt_col.dt.tz_localize('UTC')  # asigna UTC si tz-naive
    else:
        df_fact_views_final['watched_at'] = dt_col.dt.tz_convert('UTC')   # convierte a UTC si tz-aware
    print("Columna 'watched_at' convertida a datetime con zona horaria UTC.")
else:
    print("¡Error! La columna 'watched_at' no existe.")

# --- Transformación de minutes_watched desde duration_min ---
if 'minutes_watched' in df_fact_views_final.columns:
    df_fact_views_final['minutes_watched'] = df_fact_views_final['minutes_watched']
    print("Columna 'minutes_watched' creada desde 'minutes_watched'.")
else:
    print("¡Error! La columna 'minutes_watched' no existe para crear 'minutes_watched'.")
    df_fact_views_final['minutes_watched'] = None  # asigna None para evitar errores luego

# --- user_id y movie_id se usan directamente ---

# --- Selección final de columnas para 'fact_view' ---
columns_final = ['user_id', 'watched_at', 'minutes_watched', 'movie_id']
df_fact_views_final = df_fact_views_final[columns_final]

# --- Convertir 'watched_at' a string ISO para JSON ---
df_fact_views_final['watched_at'] = df_fact_views_final['watched_at'].apply(lambda x: x.isoformat() if pd.notnull(x) else None)

print("\n--- DataFrame 'fact_view' LISTO PARA SUBIR ---")
print(df_fact_views_final.head())
print("\nColumnas finales:", df_fact_views_final.columns.tolist())
print("Información del DataFrame final:")
df_fact_views_final.info()

Columna 'watched_at' convertida a datetime con zona horaria UTC.
Columna 'minutes_watched' creada desde 'minutes_watched'.

--- DataFrame 'fact_view' LISTO PARA SUBIR ---
   user_id                 watched_at  minutes_watched  movie_id
0        1  2024-11-23T16:56:59+00:00              180         1
1        1  2022-05-05T16:56:59+00:00              124         3
2        1  2024-03-11T16:56:59+00:00              162         6
3        1  2023-04-28T16:56:59+00:00              107        44
4        1  2023-12-08T16:56:59+00:00               50        47

Columnas finales: ['user_id', 'watched_at', 'minutes_watched', 'movie_id']
Información del DataFrame final:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500735 entries, 0 to 500734
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   user_id          500735 non-null  int64
 1   watched_at       500735 non-null  object
 2   minutes_watched  500735 non-null  int64
 3   movie_id         500735 non-null  int64
dtypes: int64(3), object(1)
memory usage: 15.3+ MB

In [43]:
reproductions = df_fact_views_final.to_dict(orient='records')

In [44]:
def pop_batch(df, batch_size):
    batch = df.iloc[:batch_size].copy()
    df.drop(index=df.index[:batch_size], inplace=True)
    return batch

In [45]:
while not df_fact_views_final.empty:
    batch = pop_batch(df_fact_views_final, 100_000)
    supabase_dw.table('fact_view').insert(batch.to_dict(orient='records')).execute()